**/.DS_Store
**/.idea
**/*.swp
**/credentials.json
.env
.index_tasks.json
**/*.pyc
Makefile.credentials
**/.nextflow*
*.mgf
*.idx
*.log
*.log.??????????
/gnps_jobs/*
!/gnps_jobs/.gitkeep
/libraries/*
/lib_holder/*
**/*.egg-info/
MetVAE/**/build/